        <!-- header area end -->
<!-- slider area start -->
@model HomeVM

<div class="slider-area home1">
    <div class="bend niceties preview-2">
        <div id="nivoslider" class="slides">
            @foreach (var item in Model.Sliders)
            {
                <img src="~/UploadSlider/@item.ImgUrl" alt="" title="#slider-direction-1" />

            }
            @*<img src="~/img/slider/slider-2.jpg" alt="" title="#slider-direction-2" /> *@
        </div>
        <!-- direction 1 -->
        @foreach (var item in Model.Sliders)
        {
            <div id="slider-direction-1" class="t-cn slider-direction">
                <div class="slider-progress"></div>
                <div class="slider-content t-lfl s-tb slider-1">
                    <div class="title-container s-tb-c title-compress">
                        <h1 class="title1">@item.Title</h1>
                        <h2 class="title2">@item.SubTitle</h2>
                        <h3 class="title3">Lorem Ipsum is simply dummy text of the printing</h3>
                        <a href="#"><span>read more</span></a>
                    </div>
                </div>
            </div>
        }
        @*      <!-- direction 2 -->
        <div id="slider-direction-2" class="slider-direction">
        <div class="slider-progress"></div>
        <div class="slider-content t-lfl s-tb slider-2">
        <div class="title-container s-tb-c">
        <h1 class="title1">Sale products</h1>
        <h2 class="title2">GET UP TO 50% SALE</h2>
        <h3 class="title3">Lorem Ipsum is simply dummy text of the printing</h3>
        <a href="#"><span>read more</span></a>
        </div>
        </div>
        </div>  bunu silirik ki foreachda tekrar olunur *@
    </div>
</div>
<!-- slider area end -->
<!-- another banner area start -->
<div class="another-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="big-banner">
                    <a href="#">
                        <img src="~/img/banner/banner-10.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- another banner area end -->
<!-- feature products area start -->
<div class="features-product-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading mt-3">
                    <h2>FEATURED PRODUCTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="feature-product-slider carousel-margin">
                @foreach (var item in Model.Products)
                {
                    <div class="col">
                        <div class="single-product">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="~/UploadProducts/@item.ImgUrlBase" alt="" class="primary-img">
                                    <img src="~/UploadProducts/@item.ImgUrlBase" alt="" class="secondary-img">
                                </a>
                            </div>
                            <div class="product-name">
                                <a href="single-product.html" title="Fusce aliquam">@item.Title</a>
                            </div>
                            <div class="price-rating">
                                @if (item.OldPrice!=null)
                                {
                                    <span class="old-price">$ @item.OldPrice</span>
                                }         
                                <span>$ @item.Price</span>
                            </div>
                            <div class="actions">
                                <button type="submit" class="cart-btn" title="Add to cart">add to cart</button>
                            </div>
                        </div>
                    </div>
                }   
            </div>
        </div>
    </div>
    <!-- feature products area end -->
    <!-- blog area start -->
    <div class="blog-area">
        <div class="container">
            <div class="row ">
                <div class="col-md-12">
                    <div class="blog-heading">
                        <h2>From <strong> The Blog</strong></h2>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="blog-post">
                        <div class="single-blog-post">
                            <div class="blog-img">
                                <a href="blog-details.html">
                                    <img src="~/img/blog/1.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-content">
                                <a href="blog-details.html" class="blog-title">Lorem ipsum dolor sit amet</a>
                                <span><a href="#">By plaza themes - </a>17 Aug 2015 ( 0 comments )</span>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna...</p>
                                <a href="blog-details.html" class="readmore">read more ></a>
                            </div>
                        </div>
                        <div class="single-blog-post">
                            <div class="blog-img">
                                <a href="blog-details.html">
                                    <img src="~/img/blog/2.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-content">
                                <a href="blog-details.html" class="blog-title">Lorem ipsum dolor sit amet</a>
                                <span><a href="#">By plaza themes - </a>17 Aug 2015 ( 0 comments )</span>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna...</p>
                                <a href="blog-details.html" class="readmore">read more ></a>
                            </div>
                        </div>
                    </div>
                    <div class="single-blog-post">
                        <div class="blog-img">
                            <a href="blog-details.html">
                                <img src="~/img/blog/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-content">
                            <a href="blog-details.html" class="blog-title">Lorem ipsum dolor sit amet</a>
                            <span><a href="#">By plaza themes - </a>17 Aug 2015 ( 0 comments )</span>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna...</p>
                            <a href="blog-details.html" class="readmore">read more ></a>
                        </div>
                    </div>
                    <div class="single-blog-post">
                        <div class="blog-img">
                            <a href="blog-details.html">
                                <img src="~/img/blog/4.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-content">
                            <a href="blog-details.html" class="blog-title">Lorem ipsum dolor sit amet</a>
                            <span><a href="#">By plaza themes - </a>17 Aug 2015 ( 0 comments )</span>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna...</p>
                            <a href="blog-details.html" class="readmore">read more ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog area end -->
